---
import LandingHeader from "../components/LandingHeader.astro";
import Model3 from "../components/Model3.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<LandingHeader />

	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<Model3 />
		</div>
		<div class="snap-center">
			<Model3 />
		</div>
	</main>
</Layout>
