---
import Section from "./Section.astro";
---

<Section color="white" title="Model 3" id="model-3">
    <div slot="footer" class="gap-x-6 flex mx-auto">
        <a
            href="#"
            class="bg-white text-sm rounded font-medium px-16 py-2 inline-block transition-colors"
            >Explora el inventario</a
        >
        <a
            href="#"
            class="bg-black/45 text-white text-sm font-medium rounded px-16 py-2 inline-block"
            >Prueba de manejo</a
        >
    </div>
    <img src="Model-3.avif" alt="model3" slot="background" />
</Section>
